# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
example/privates
broker/conf
broker/tms-go-apihub
broker/vendor/
log/
.vscode

test/http-server/http-server

example/httpapis/__INTERNAL/
example/schedules/__INTERNAL

tool/postman/cmd/httpapis/
tool/postman/cmd/privates/
tool/postman/cmd/postman_collections/__INTERNAL

tool/swagger/from/


tool/postman/cmd/test.sh
.devcontainer/
example/flows/__INTERNAL
broker/tms-gah-broker

example/postman/
tool/schedule/schedule/
tool/postman/cmd/__INTERNAL/
tool/curl/httpapis/