# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
example/privates
broker/conf
broker/tms-go-apihub
broker/vendor/
log/
.vscode

postman/privates/
postman/httpapis/
postman/postman_collections/云信-三网短信.json
postman/postman_collections/5G新增手机终端画像.postman_collection.json
postman/postman_collections/浙江信产.postman_collection.json

test/http-server/http-server
postman/test.sh
broker/tms-go-apihub
